<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Find me</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>

    <div class="center">


        <div id="social-test">
            <img src="https://drive.google.com/uc?export=view&id=1VQv8wp46-GWESgLWODWZMa0UZWERsMaF" alt="">
            <h2 th:text="'Hello, ' + ${name} + '!'" />
            <p>Find me on social media:</p>
            <ul class="social">
                <li><a href="https://www.facebook.com/khanimhuseynzada/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="https://www.linkedin.com/in/khanim-h-2b445286/"><i class="fa fa-linkedin" aria-hidden="true"></a></i></li>
                <li><a href="https://instagram.com/khaanimm"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                <li><a href="https://www.behance.net/khanimhuseynzada"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
                <li><a href="https://dribbble.com/khaanimm"><i class="fa fa-dribbble" aria-hidden="true"></a></i></li>
                <li><a href="https://github.com/khanimhuseynzada"><i class="fa fa-github" aria-hidden="true"></a></i></li>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>
